.task-form {
    padding: 1rem;

}
.task-form button {
    margin-top: 3rem;

}

.task-form--update button {
    margin-top: 2rem;

}

.task-form >*:not(:last-child) {
    margin-bottom: 1rem;

}

@media screen and (max-width: 767.98px) {
    .task-form {
        padding: 0.5rem;
    } 
    
    
}





