
/* .date-picker .date-picker input[type='date'] {
    display: none;
} */
.date-picker {
    min-width: 180px;
    height: 40px;
}
.date-picker label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    display: block;

}
.date-picker input {
    --padding: 0.5rem;
    --outline: none;
    --border: 1px solid #000;
    position: relative;
    width: 100%;
    min-height: 2.5rem;
    padding: var(--padding);
    color: white;
    outline: var(--outline);
    border: var(--border);
}

.date-picker input:before {
    position: absolute;
    top: 50%; 
    left: var(--padding);
    transform: translateY(-50%);

    content: attr(data-date);
    display: inline-block;
    color: black;
}
.date-picker input::-webkit-datetime-edit, .date-picker input::-webkit-inner-spin-button, .date-picker input::-webkit-clear-button {
    display: none;
}

.date-picker input::-webkit-calendar-picker-indicator {
    position: absolute;
    height: 100%;
    width: 24px;
    right: 0;
    color: black;
    opacity: 1;
    border-left: 1px solid #000;
    background-image: url('calendaricon.png');

    background-position: center;
    background-repeat: no-repeat;

}