.text-field input {
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
    /* width: 100%; */
    border: 1px solid #bdbdbd;
    /* font-size: 1rem; */
    color: #1d1d1d;
    
}

.text-field--fullWidth input {
    width: 100%;
}
.text-field__error input {
    border-color: rgb(204, 73, 73);
}
.text-field__error p.error-message {
    color: rgb(204, 73, 73);
    font-size: 0.875rem;
    margin-top: 0.5rem;
} 


